/**
  * Bebas Neue
  *
  */
 
 @font-face {
     font-family: 'Bebas Neue';
     src: url(BebasNeue/BebasNeue-Bold.ttf) format('truetype');
     font-style: normal;
     font-weight: 700;
 }


/**
  * Open Sans Semibold
  *
  */
