/** 
 * Select Mode Component Style
 *
 */ 

@keyframes pulse{
	0%{ 
		transform: translateY(0);
	}
	50%{
		transform: translateY(-20px);
	}
	100%{
		transform: translateY(0);
	}
}

.SelectMode{
	width: 100%;

	&_item{
		&:before{
			content: '';
			display: inline-block;
			background: #fffed7;
			background-repeat: no-repeat;
			background-position: center;
			background-size: 35%;
			@include square(70px);
			border-radius: 50%;
			margin-bottom: 16px;
		}

		&.-rush:before{
			background-image: url('../img/selectMode_rush.png');
		}

		&.-clash:before{
			background-image: url('../img/selectMode_clash.png');
		}

		display: inline-block;
		position: absolute;
		top:50%;
		left: 50%;
		transform: translateY(-2px);
		transform: translateX(-320px);
		margin-top: 10px;
		font-size: 33px;
		font-weight: 700;
		text-align: center;
		width: 141px;
		color: rgba(black, .9);
		cursor: pointer;
		transition: color .3s ease, margin-top .3s ease;

		& + &{
			margin-left: 500px;
		}

		p{
			margin-top: 10px;
			font-size: 19px;
			width: 160%;
			margin-left: -30%;
			line-height: 19px;
			color: rgba(black, .6);
			transition: opacity ease .3s;
			opacity: 0;
		}

		&.is-helped{
			margin-top: -14px; 

			p{
				opacity: 1;
			}
		}

		&:hover{
			color: rgba(black, .5);

			p{
				color: rgba(black, .3);
			}
		}

		&:hover:before, &.is-active:before{
			animation: pulse .65s ease infinite;
		}
	}

	&_minion{
		content: '';
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 254px;	height: 552px;
		margin-top:-300px;
		margin-left: -127px;
		background: url('../img/selectMode_minion.png');
	}

	&_help{
		position: absolute;
		top: 50%;
		left:50%;
		margin-top: 267px;
		transform: translateX(-50%);
		font-size: 20px;
		font-weight: 700;
		color: rgba(black, .5);
		cursor: pointer;

		&:hover{
			color: rgba(black,.3);
		}
	}
}